body {
    font-family: 'Old Standard TT', serif;
    background-color: #4D3B25;
    background-image: url('https://i.pinimg.com/originals/b2/62/2b/b2622bf467535aa87f14789f0b32940e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #EDE6D2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    padding-top: 50px;
  }
  
  ul {
    list-style: none;
    padding: 20px;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    color: #EDE6D2;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #FFD700;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin: 10px 0;
  }

/* below is the code to center the YT video */

  .center-container {
    display: grid;
    place-items: center;
    height: 50vh; /* Adjust this to control the vertical centering */
  }
  
  .center-container iframe {
    max-width: 100%;
  }
  